<div class="dialog-container">
  <!--Progress Bar-->
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Add User</h1>
  <div mat-dialog-content>
    <div class="container-inputs">
      <!--First Name-->
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.firtstName"
          matInput
          placeholder="First Name"
        />
      </mat-form-field>
      <!--Last Name-->
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.lastName"
          matInput
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>
  </div>

  <!--Birth Date-->
  <div class="container-inputs">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input
        [disabled]="loading"
        [(ngModel)]="brithDate"
        matInput
        [matDatepicker]="picker"
        matInput
        placeholder="Brithdate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!--Section Address-->
  <div class="container-inputs">
    <!--Street & Number-->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Street + Housnumber</mat-label>
      <input
        [disabled]="loading"
        [(ngModel)]="user.street"
        matInput
        placeholder="Street & Housenumber"
      />
    </mat-form-field>
  </div>
  <!-- Section Zip & City-->
  <div class="container-inputs">
    <!--Zip-->
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>Zip-Code</mat-label>
      <input
        [disabled]="loading"
        [(ngModel)]="user.zipCode"
        matInput
        placeholder="Zip-Code"
      />
    </mat-form-field>
    <!--City-->
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [(ngModel)]="user.city" matInput placeholder="City" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
  </div>
</div>
