<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo-container">
      <img class="logo" src="/assets/img/crm.png" alt="" />
    </div>

    <ul class="menu-items">
      <li routerLink="User" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>User
      </li>
      <li routerLink="DataProtection" routerLinkActive="router-link-active">
        <mat-icon>lock_person</mat-icon>Data-protection
      </li>
      <li routerLink="Imprint" routerLinkActive="router-link-active">
        <mat-icon>import_contacts</mat-icon>imprint
      </li>
      <li routerLink="Help" routerLinkActive="router-link-active">
        <mat-icon>help_center</mat-icon>Help
      </li>
      <!-- <li routerLink="Organisation" routerLinkActive="router-link-active">
        <mat-icon>account_tree</mat-icon>Organisation
      </li>
      <li routerLink="Login" routerLinkActive="router-link-active">
        <mat-icon>login</mat-icon>Login
      </li> -->
    </ul>
  </mat-drawer>

  <div class="main-container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" class="example-icon menu-icon"
          >menu</mat-icon
        >
        <span>CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
