<mat-card class="user-detail-header">
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="Usermenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #Usermenu="matMenu">
    <button (click)="editUserDetail()" mat-menu-item>Edit</button>
    <button (click)="deleteUser()" mat-menu-item>Delete</button>
  </mat-menu>

  <img src="./assets/img/profile.png" />
  <div class="user-details">
    <h2>{{ user.firtstName }} {{ user.lastName }}</h2>
    {{ user.email }} <br />
    {{ user.birthDate }}
  </div>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="adressMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #adressMenu="matMenu">
    <button (click)="editMenu()" mat-menu-item>Edit</button>
  </mat-menu>

  <mat-card-title>Address</mat-card-title>

  <mat-card-content *ngIf="!user.street">
    No address registered
  </mat-card-content>
  <mat-card-content *ngIf="user.street">
    {{ user.street }}<br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>

<mat-card>
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="todomenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #todomenu="matMenu">
    <button (click)="editUserTodo()" mat-menu-item>Add a Todo</button>
    <button (click)="deleteAllTodos()" mat-menu-item>Delete Todos</button>
  </mat-menu>

  <mat-card-title>To-dos</mat-card-title>

  <mat-card-content>
    <mat-selection-list #todos>
      <mat-list-option *ngFor="let todo of userTodos">
        {{ todo }}
      </mat-list-option>
    </mat-selection-list>

    <p>Finished: {{ todos.selectedOptions.selected.length }}</p>
  </mat-card-content>
</mat-card>
