.user-detail-header {
    min-height: 250px;
    background-color: #e91e63;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;

    h2 {
        margin-bottom: 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 600px) {
    .user-detail-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
