<mat-card>
  <table class="user-table">
    <tr class="color-text">
      <th>Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>E-Mail</th>
    </tr>

    <tr *ngIf="allUsers.length == 0">
      <label for="name">Name</label>
      <input name="name" type="text" />
    </tr>
    <tr
      *ngFor="let user of allUsers"
      [routerLink]="['/user/' + user.customIdName]"
    >
      <td>{{ user.firtstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </table>
</mat-card>

<button
  class="add-user-btn"
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  matTooltip="Add user"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
