<div class="dialog-container">
  <!--Progress Bar-->
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Adress</h1>
  <div mat-dialog-content>
    <!--Section Address-->
    <div class="container-inputs">
      <!--Street & Number-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + Housnumber</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.street"
          matInput
          placeholder="Street & Housenumber"
        />
      </mat-form-field>
    </div>
    <!-- Section Zip & City-->
    <div class="container-inputs">
      <!--Zip-->
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip-Code</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.zipCode"
          matInput
          placeholder="Zip-Code"
        />
      </mat-form-field>
      <!--City-->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [(ngModel)]="user.city" matInput placeholder="City" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()" mat-button>Cancel</button>
    <button (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
  </div>
</div>
