/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mr-16 {
    margin-right: 16px;
}
.full-width {
    width: 100%;
}
.container-inputs {
    display: flex;
    flex-direction: row;
}
.dialog-container {
    position: relative;
    mat-progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}
